
<div th:fragment="header" style="position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;">
  <div class="top-header py-2 ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-3 d-flex align-items-center">
          <img src="http://localhost:8888/contents/images/Logo.png" alt="NTU Logo" style="height: 60px; margin-right: 10px;">
        </div>
      </div>
    </div>
  </div>

  <header class="main-header bg-dark">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">

            <!-- Trang chủ -->
            <li class="nav-item">
              <a th:href="@{'/site/' + ${site.idSite}}" class="nav-link fw-bold text-white">Trang chủ</a>
            </li>

            <!-- Tin tức -->
            <li class="nav-item">
              <a th:href="@{'/tin-tuc/' + ${site.idSite}}" class="nav-link fw-bold text-white">Tin tức</a>
            </li>

            <!-- Menu chính (tối đa 8 mục) -->
            <li class="nav-item" th:each="menu, iterStat : ${menus}"
                th:if="${menuToPageMap[menu.idMenu] != null and iterStat.index < 5}">
              <a class="nav-link fw-bold text-white"
                 th:href="@{'/page/' + ${menuToPageMap[menu.idMenu]}}"
                 th:text="${menu.name}"></a>
            </li>

            <li class="nav-item dropdown" th:if="${menus.size() > 5}">
              <a class="nav-link dropdown-toggle fw-bold text-white" href="#" role="button" data-bs-toggle="dropdown">
                Thêm
              </a>
              <ul class="dropdown-menu">
                <li th:each="menu, iterStat : ${menus}"
                    th:if="${menuToPageMap[menu.idMenu] != null and iterStat.index >= 5}">
                  <a class="dropdown-item"
                     th:href="@{'/page/' + ${menuToPageMap[menu.idMenu]}}"
                     th:text="${menu.name}"></a>
                </li>
              </ul>
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </header>
</div>
