<!-- fragments/head.html -->
<head th:fragment="head(title, pageCss)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Tiêu đề</title>

    <!-- CSS chung -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/Frontend/style.css">

    <!-- CSS riêng nếu có -->
    <th:block th:if="${pageCss != null}">
        <link th:href="@{${pageCss}}" rel="stylesheet"/>
    </th:block>
</head>
